# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Logs
logs/

# Model files
*.pth
*.pkl
*.pickle

# Firebase / Secret keys
*.json

# Runtime data
attendance.csv

# OS files
.DS_Store
Thumbs.db

